<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Protected Page</a>
</nav>

<div>
    <h4>This page is only visible to logged in users ! <!-- {{mailuser}} --></h4>
    
    <a href='/logout'>Log out</a>
</div>